.lincoapp-formui
    .form
        .form-group
            span.form-title 用户名
            source(name="username")
            p.form-msg 请输入用户名
        .form-group
            span.form-title 密码
            source(name="password")
            p.form-msg 请输入6位以上密码
        .form-group
            span.form-title 手机号
            source(name="telphone")
            p.form-msg 请输入11位手机号码
        .form-group
            span.form-title 性别
            source(name="gender")
        .form-group
            span.form-title 记住我
            source(name="remember")
        .form-group
            span.form-title 介绍一下自己
            source(name="remark")

        .form-ctrl
            button.form-btn.btn-cancel 取消
            button.form-btn.skin-blue.btn-submit 提交
